<div class="header">
  <div class="main">
    <img class="nexter" src="assets/logo.png" alt="logo">
    <h3>Your own home:</h3>
    <h1>The ultimate personal freedom</h1>
    <button class="button">View our properties</button>
    <div class="seen-on">Seen on</div>
    <div class="logos">
      <img class="logo" src="assets/logo-bbc.png" alt="bbc">
      <img class="logo" src="assets/logo-forbes.png" alt="forbes">
      <img class="logo" src="assets/logo-techcrunch.png" alt="techcrunch">
      <img class="logo" src="assets/logo-bi.png" alt="business insider">
    </div>
  </div>
  <ms-realtors></ms-realtors>
</div>
