<footer class="footer">
  <nav class="nav">
    <div class="nav-item">
      <a href="#">Find your dream home</a>
    </div>
    <div class="nav-item">
      <a href="#">Request proporsal</a>
    </div>
    <div class="nav-item">
      <a href="#">Download home planner</a>
    </div>
    <div class="nav-item">
      <a href="#">Contact us</a>
    </div>
    <div class="nav-item">
      <a href="#">Submit your property</a>
    </div>
    <div class="nav-item">
      <a href="#">Come work with us!</a>
    </div>
  </nav>

  <p class="copyright">&copy; Copyright 2017 by Jonas Schmedtmann. Feel free to use this project for your own purposes. This does NOT apply if you plan to produce your own course or tutorials based on this project.</p>
</footer>
