<footer class="footer">
  <nav class="nav">
    <div class="nav-item">
      <a href="#">Find your dream home</a>
    </div>
    <div class="nav-item">
      <a href="#">Request proporsal</a>
    </div>
    <div class="nav-item">
      <a href="#">Download home planner</a>
    </div>
    <div class="nav-item">
      <a href="#">Contact us</a>
    </div>
    <div class="nav-item">
      <a href="#">Submit your property</a>
    </div>
    <div class="nav-item">
      <a href="#">Come work with us!</a>
    </div>
  </nav>

  <p class="copyright">Design by <a href="http://codingheroes.io">Jonas Schmedtmann</a>. Built by <a href="https://github.com/mslawins">Marek Slawinski</a></p>
</footer>
