@import 'src/app/resources';

$icon-size: 4.5rem;

.assets {
  background-color: $color-primary-3;
  margin: 12rem 0;

  display: grid;
  grid-gap: 6rem;
  grid-template-columns: repeat(3, minmax(25rem, 1fr));

  .asset {
    display: grid;
    grid-template-columns: $icon-size 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;

    p {
      grid-column: 2 / 3;
      font-size: 1.7rem; 
      color: $color-details-3;
    }

    svg {
      width: $icon-size;
      height: $icon-size;
      fill: $color-primary-1;
      transform: translateY(-25%);
    }
  }
}
