<div class="realtors">
  <h3>Top 3 realtors</h3>
  <div class="list">
    <div class="realtor">
      <img class="picture" src="assets/realtor-1.jpeg" alt="realtor 1">
      <span class="name">Erik Feinman</span>
      <span class="sold">245 houses sold</span>
    </div>
    <div class="realtor">
      <img class="picture" src="assets/realtor-2.jpeg" alt="realtor 1">
      <span class="name">Kim Brown</span>
      <span class="sold">212 houses sold</span>
    </div>
    <div class="realtor">
      <img class="picture" src="assets/realtor-3.jpeg" alt="realtor 1">
      <span class="name">Toby Ramsey</span>
      <span class="sold">198 houses sold</span>
    </div>
  </div>
</div>
