<div class="gallery">
  <figure class="item-1">
    <img class="img" src="assets/gal-1.jpeg" alt="gallery image">
  </figure>
  <figure class="item-2">
    <img class="img" src="assets/gal-2.jpeg" alt="gallery image">
  </figure>
  <figure class="item-3">
    <img class="img" src="assets/gal-3.jpeg" alt="gallery image">
  </figure>
  <figure class="item-4">
    <img class="img" src="assets/gal-4.jpeg" alt="gallery image">
  </figure>
  <figure class="item-5">
    <img class="img" src="assets/gal-5.jpeg" alt="gallery image">
  </figure>
  <figure class="item-6">
    <img class="img" src="assets/gal-6.jpeg" alt="gallery image">
  </figure>
  <figure class="item-7">
    <img class="img" src="assets/gal-7.jpeg" alt="gallery image">
  </figure>
  <figure class="item-8">
    <img class="img" src="assets/gal-8.jpeg" alt="gallery image">
  </figure>
  <figure class="item-9">
    <img class="img" src="assets/gal-9.jpeg" alt="gallery image">
  </figure>
  <figure class="item-10">
    <img class="img" src="assets/gal-10.jpeg" alt="gallery image">
  </figure>
  <figure class="item-11">
    <img class="img" src="assets/gal-11.jpeg" alt="gallery image">
  </figure>
  <figure class="item-12">
    <img class="img" src="assets/gal-12.jpeg" alt="gallery image">
  </figure>
  <figure class="item-13">
    <img class="img" src="assets/gal-13.jpeg" alt="gallery image">
  </figure>
  <figure class="item-14">
    <img class="img" src="assets/gal-14.jpeg" alt="gallery image">
  </figure>
</div>
