$color-primary-1: #c69963;
$color-primary-2: #101d2c;
$color-primary-3: #fff;

$color-details-1: #f9f7f6;
$color-details-2: #aaa;
$color-details-3: #6d5d4b;
$color-details-4: #B28451; 
$color-details-5: #54483a;

$font-primary: 'Nunito Sans', sans-serif;
$font-secondary: 'Josefin Sans', sans-serif;

@mixin respond-to($breakpoint) {
  @if $breakpoint == bp-very-small {
    @media only screen and (max-width: 43.75em) { @content }; 
  }

  @if $breakpoint == bp-small {
    @media only screen and (max-width: 56.25em) { @content }; 
  }

  @if $breakpoint == bp-medium {
    @media only screen and (max-width: 62.5em) { @content }; 
  }

  @if $breakpoint == bp-large {
    @media only screen and (max-width: 75em) { @content }; 
  }
}
