$color-primary-1: #c69963;
$color-primary-2: #101d2c;
$color-primary-3: #fff;

$color-details-1: #f9f7f6;
$color-details-2: #aaa;
$color-details-3: #6d5d4b;
$color-details-4: #B28451; 

$font-primary: 'Nunito Sans', sans-serif;
$font-secondary: 'Josefin Sans', sans-serif;
