@import 'src/app/resources';

.offer {
  margin: 15rem 0;

  @include respond-to(bp-small) {
    margin-top: 25rem;
    margin-bottom: 12.5rem; 
  }

  @include respond-to(bp-very-small) {
    margin-top: 35rem;
    margin-bottom: 15rem; 
  
  }

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;

  background-color: $color-primary-3;
}

.card {
  background-color: $color-details-1; 

  .img {
    width: 100%; 
    display: block;
  }

  .name {
    width: 80%;
    margin: 0 auto;
    padding: 1.25rem;

    text-align: center;

    background-color: $color-primary-2;
    color: $color-primary-3;

    font-family: $font-secondary;
    font-size: 1.6rem;
    font-weight: 400;

    transform: translateY(-50%);
  }

  .details {
    color: $color-details-3;
    padding: 0 2rem;
    margin-bottom: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    justify-items: start;

    font-size: 1.5rem;

    & > * {
      display: flex;
      align-items: center;

      svg {
        width: 2rem;
        height: 2rem;

        margin-right: 1rem;

        fill: $color-primary-1;
      }
    }
  }

  .button { 
    width: 100%;
  }
}
