@import 'src/app/resources';

.offer {
  margin: 12rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;

  background-color: $color-primary-3;
}

.card {
  background-color: $color-details-1; 

  .img {
    width: 100%; 
    display: block;
  }

  .name {
    width: 80%;
    margin: 0 auto;
    padding: 1.25rem;

    text-align: center;

    background-color: $color-primary-2;
    color: $color-primary-3;

    font-family: $font-secondary;
    font-size: 1.6rem;
    font-weight: 400;

    transform: translateY(-50%);
  }

  .details {
    color: $color-details-3;
    padding: 0 2rem;
    margin-bottom: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    justify-items: start;

    font-size: 1.5rem;

    & > * {
      display: flex;
      align-items: center;

      svg {
        width: 2rem;
        height: 2rem;

        margin-right: 1rem;

        fill: $color-primary-1;
      }
    }
  }

  .contact {
    width: 100%;
    padding: 1.8rem 3rem;

    background-color: $color-primary-1; 
    color: $color-primary-3;

    font-family: $font-secondary;
    font-size: 1.5rem;
    text-transform: uppercase;

    border: none;
    cursor: pointer;

    transition: all .2s;

    &:hover {
      background-color: $color-details-4;
    }
  }
}
