<div class="offer">
  <div class="card">
    <img class="img" src="assets/house-1.jpeg" alt="house image">
    <div class="name">Beautiful Family House</div>
    <div class="details">
      <div class="location">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-map-pin"></use>
        </svg>
        <p>USA</p>
      </div>
      <div class="rooms">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-profile-male"></use>
        </svg>
        <p>5 rooms</p>
      </div>
      <div class="area">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-expand"></use>
        </svg>
        <p>325 m<sup>2</sup></p>
      </div>
      <div class="price">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-key"></use>
        </svg>
        <p>$1.200.000</p>
      </div>
    </div>
    <button class="contact">Contact relator</button>
  </div>

  <div class="card">
    <img class="img" src="assets/house-2.jpeg" alt="house image">
    <div class="name">Modern Glass Villa</div>
    <div class="details">
      <div class="location">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-map-pin"></use>
        </svg>
        <p>Canada</p>
      </div>
      <div class="rooms">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-profile-male"></use>
        </svg>
        <p>6 rooms</p>
      </div>
      <div class="area">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-expand"></use>
        </svg>
        <p>450 m<sup>2</sup></p>
      </div>
      <div class="price">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-key"></use>
        </svg>
        <p>$2.750.000</p>
      </div>
    </div>
    <button class="contact">Contact relator</button>
  </div>

  <div class="card">
    <img class="img" src="assets/house-3.jpeg" alt="house image">
    <div class="name">Cozy Country House</div>
    <div class="details">
      <div class="location">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-map-pin"></use>
        </svg>
        <p>UK</p>
      </div>
      <div class="rooms">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-profile-male"></use>
        </svg>
        <p>4 rooms</p>
      </div>
      <div class="area">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-expand"></use>
        </svg>
        <p>250 m<sup>2</sup></p>
      </div>
      <div class="price">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-key"></use>
        </svg>
        <p>$850.000</p>
      </div>
    </div>
    <button class="contact">Contact relator</button>
  </div>

  <div class="card">
    <img class="img" src="assets/house-4.jpeg" alt="house image">
    <div class="name">Large Rustical Villa</div>
    <div class="details">
      <div class="location">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-map-pin"></use>
        </svg>
        <p>Portugal</p>
      </div>
      <div class="rooms">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-profile-male"></use>
        </svg>
        <p>6 rooms</p>
      </div>
      <div class="area">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-expand"></use>
        </svg>
        <p>480 m<sup>2</sup></p>
      </div>
      <div class="price">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-key"></use>
        </svg>
        <p>$1.950.000</p>
      </div>
    </div>
    <button class="contact">Contact relator</button>
  </div>

  <div class="card">
    <img class="img" src="assets/house-5.jpeg" alt="house image">
    <div class="name">Majestic Palace House</div>
    <div class="details">
      <div class="location">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-map-pin"></use>
        </svg>
        <p>Germany</p>
      </div>
      <div class="rooms">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-profile-male"></use>
        </svg>
        <p>18 rooms</p>
      </div>
      <div class="area">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-expand"></use>
        </svg>
        <p>4230 m<sup>2</sup></p>
      </div>
      <div class="price">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-key"></use>
        </svg>
        <p>$9.500.000</p>
      </div>
    </div>
    <button class="contact">Contact relator</button>
  </div>

  <div class="card">
    <img class="img" src="assets/house-6.jpeg" alt="house image">
    <div class="name">Modern Family Apartament</div>
    <div class="details">
      <div class="location">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-map-pin"></use>
        </svg>
        <p>Italy</p>
      </div>
      <div class="rooms">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-profile-male"></use>
        </svg>
        <p>3 rooms</p>
      </div>
      <div class="area">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-expand"></use>
        </svg>
        <p>180 m<sup>2</sup></p>
      </div>
      <div class="price">
        <svg>
          <use xlink:href="assets/sprite.svg#icon-key"></use>
        </svg>
        <p>$600.000</p>
      </div>
    </div>
    <button class="contact">Contact relator</button>
  </div>
</div>
