<div class="testimonials">
  <div class="pictures">
    <img class="first" src="assets/story-1.jpeg" alt="review picture">
    <img class="second" src="assets/story-2.jpeg" alt="review picture">
  </div>
  <div class="review">
    <h3 class="heading-3">Happy customers</h3>
    <h2 class="heading-2">"The best decision of our lives"</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio necessitatibus pariatur voluptatibus. Quidem consequatur harum volupta!</p>
    <button class="button">Find your own home</button>
  </div>
</div>
