@import 'src/app/resources'; 

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include respond-to(bp-large) {
    font-size: 50%; 
  }
}

body {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
  color: $color-details-3;
}

.heading-1 {
  font-family: $font-secondary;
  color: $color-primary-3;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 1;
}

.heading-2 {
  font-family: $font-secondary;
  color: $color-details-5;
  font-weight: 400;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}

.heading-3 {
  font-family: $font-secondary;
  color: $color-primary-1;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.heading-4 {
  color: $color-details-5; 
  font-size: 1.9rem;
  font-weight: 400;
  font-family: $font-secondary;
}

.button {
  padding: 1.8rem 3rem;

  background-color: $color-primary-1; 
  color: $color-primary-3;

  font-family: $font-secondary;
  font-size: 1.5rem;
  text-transform: uppercase;

  border: none;
  cursor: pointer;

  transition: all .2s;

  &:hover {
    background-color: $color-details-4;
  }
}
